<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365872899567-if57p9bam6n6m0bi0a7hrc4b16p1ddcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365872899567-if57p9bam6n6m0bi0a7hrc4b16p1ddcg</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5adxoa5bXomCXrsYEhzPcDLIsCm4kMg</string>
	<key>GCM_SENDER_ID</key>
	<string>365872899567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JanTanja.Splat</string>
	<key>PROJECT_ID</key>
	<string>splat-36418</string>
	<key>STORAGE_BUCKET</key>
	<string>splat-36418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365872899567:ios:752abc9467acccbc</string>
	<key>DATABASE_URL</key>
	<string>https://splat-36418.firebaseio.com</string>
</dict>
</plist>